:root{
    --light-color: rgb(255, 255, 255);
    --dark-color: rgb(0, 0, 0);
}

body{
    margin:0;
    background: url(./../img/alpha.bmp) rgba(255, 255, 255, 0.041) fixed center;
    background-size: 30px;
    image-rendering: pixelated;
    
    font-family: Roboto;
    font-size: 24px;

    overflow: hidden;
}

.layout{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    padding: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options, .components{
    height: 100%;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.options{
    width: 600px;
    color: var(--dark-color);
}
.components{
    width: 400px;
}
.options h1{
    font-size: 4em;
    margin: 0;
}
.options p{
    width: 407px;
}
.options .colors{
    width: 240px  !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-color);
    border-radius: 25px;
}
.options .colors button{
    position: relative;
    width:40px;
    height:40px;
    margin: 30px 15px;
    padding: 0;
    display: inline-block;
    border-radius: 50%;
    border:0;
    transition: box-shadow 0.15s ease;
    outline:none;
}
.options .colors button:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.35); 
}
.options .colors button:focus{
  box-shadow: 0 0 11px rgba(33,33,33,.45); 
}
.options .colors button:focus::before{
    content: "🔴";
    color:var(--light-color);
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -52%);
}
#orange{
    background: rgb(218, 141, 0);
}
#blue{
    background: #0063DC;
}
#purple{
    background: #FF0084;
}
.component{
    border-radius: 20px;
    padding: 30px;
}
.light{
    color: var(--dark-color);
    background: var(--light-color);
}
.dark{
    color:var(--light-color);
    background: #131313;
}
.components h2{
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7em;
    letter-spacing: 0em;
    text-align: left;

    margin-top: 0;
    margin-bottom: 15px;
}
.components p{
    font-size: 0.75em;
    font-style: normal;
    font-weight: 300;
    line-height: 1em;
    letter-spacing: 0em;
    text-align: left;
}
.components input[type=text]{
    width: 160px;

    font-size: 0.75em;
    font-style: normal;
    font-weight: 300;
    line-height: 1em;
    letter-spacing: 0em;
    text-align: left;

    height: 35px;
    padding: 0 20px;
    border:0;
    border-radius: 8px;
}
.components button{
    float: right;
    font-size: 0.75em;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;

    height: 35px;
    padding: 0 20px;
    border:0;
    border-radius: 8px;
}
.components .light input{
    color: #6E6E6E;
    background: #F2F2F2;
}
.components .dark input{
    color: #1F1F1F;
    background: #878787;
}
.components .light input::placeholder {
    color: #6E6E6E;
    opacity: 1;
}
.components .dark input::placeholder {
    color: #1F1F1F;
    opacity: 1;
}
.components .light button{
    color: var(--light-color);
    background: var(--dark-color);
}
.components .dark button{
    color: var(--dark-color);
    background: var(--light-color);
}
.contrast-shadow{
    box-shadow: 0px 0px 44px -18px rgba(0,0,0,0.65);
}